.App {
  font-size: 14px;
  color: #4d5c65;
}

.textCenter {
  text-align: center;
}
.h100 {
  height: 100%;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.flexCenterTotal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexContainer {
  display: flex;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
}

.flex {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.p20 {
  padding: 20px;
}

.mt20 {
  margin-top: 20px;
}

.ml20 {
  margin-left: 20px;
}

